CrmConsoleClient/Web References/DMFService/DMFService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="DMFService" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://dynamicscrmproxy.apphb.com/Services/DMFService.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://dynamicscrmproxy.apphb.com/Services/DMFService.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://dynamicscrmproxy.apphb.com/Services/DMFService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/CRMProxyService.Entity" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IDMFService_GetAllNSOImpact_InputMessage">
    <wsdl:part name="parameters" element="tns:GetAllNSOImpact" />
  </wsdl:message>
  <wsdl:message name="IDMFService_GetAllNSOImpact_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetAllNSOImpactResponse" />
  </wsdl:message>
  <wsdl:message name="IDMFService_GetOneNSOImpact_InputMessage">
    <wsdl:part name="parameters" element="tns:GetOneNSOImpact" />
  </wsdl:message>
  <wsdl:message name="IDMFService_GetOneNSOImpact_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetOneNSOImpactResponse" />
  </wsdl:message>
  <wsdl:message name="IDMFService_GetAllNSOOutcome_InputMessage">
    <wsdl:part name="parameters" element="tns:GetAllNSOOutcome" />
  </wsdl:message>
  <wsdl:message name="IDMFService_GetAllNSOOutcome_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetAllNSOOutcomeResponse" />
  </wsdl:message>
  <wsdl:message name="IDMFService_GetOneNSOOutcome_InputMessage">
    <wsdl:part name="parameters" element="tns:GetOneNSOOutcome" />
  </wsdl:message>
  <wsdl:message name="IDMFService_GetOneNSOOutcome_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetOneNSOOutcomeResponse" />
  </wsdl:message>
  <wsdl:message name="IDMFService_GetAllNSOOutput_InputMessage">
    <wsdl:part name="parameters" element="tns:GetAllNSOOutput" />
  </wsdl:message>
  <wsdl:message name="IDMFService_GetAllNSOOutput_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetAllNSOOutputResponse" />
  </wsdl:message>
  <wsdl:message name="IDMFService_GetOneNSOOutput_InputMessage">
    <wsdl:part name="parameters" element="tns:GetOneNSOOutput" />
  </wsdl:message>
  <wsdl:message name="IDMFService_GetOneNSOOutput_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetOneNSOOutputResponse" />
  </wsdl:message>
  <wsdl:portType name="IDMFService">
    <wsdl:operation name="GetAllNSOImpact">
      <wsdl:input wsaw:Action="http://tempuri.org/IDMFService/GetAllNSOImpact" message="tns:IDMFService_GetAllNSOImpact_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IDMFService/GetAllNSOImpactResponse" message="tns:IDMFService_GetAllNSOImpact_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetOneNSOImpact">
      <wsdl:input wsaw:Action="http://tempuri.org/IDMFService/GetOneNSOImpact" message="tns:IDMFService_GetOneNSOImpact_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IDMFService/GetOneNSOImpactResponse" message="tns:IDMFService_GetOneNSOImpact_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetAllNSOOutcome">
      <wsdl:input wsaw:Action="http://tempuri.org/IDMFService/GetAllNSOOutcome" message="tns:IDMFService_GetAllNSOOutcome_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IDMFService/GetAllNSOOutcomeResponse" message="tns:IDMFService_GetAllNSOOutcome_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetOneNSOOutcome">
      <wsdl:input wsaw:Action="http://tempuri.org/IDMFService/GetOneNSOOutcome" message="tns:IDMFService_GetOneNSOOutcome_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IDMFService/GetOneNSOOutcomeResponse" message="tns:IDMFService_GetOneNSOOutcome_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetAllNSOOutput">
      <wsdl:input wsaw:Action="http://tempuri.org/IDMFService/GetAllNSOOutput" message="tns:IDMFService_GetAllNSOOutput_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IDMFService/GetAllNSOOutputResponse" message="tns:IDMFService_GetAllNSOOutput_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetOneNSOOutput">
      <wsdl:input wsaw:Action="http://tempuri.org/IDMFService/GetOneNSOOutput" message="tns:IDMFService_GetOneNSOOutput_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IDMFService/GetOneNSOOutputResponse" message="tns:IDMFService_GetOneNSOOutput_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IDMFService" type="tns:IDMFService">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetAllNSOImpact">
      <soap:operation soapAction="http://tempuri.org/IDMFService/GetAllNSOImpact" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetOneNSOImpact">
      <soap:operation soapAction="http://tempuri.org/IDMFService/GetOneNSOImpact" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetAllNSOOutcome">
      <soap:operation soapAction="http://tempuri.org/IDMFService/GetAllNSOOutcome" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetOneNSOOutcome">
      <soap:operation soapAction="http://tempuri.org/IDMFService/GetOneNSOOutcome" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetAllNSOOutput">
      <soap:operation soapAction="http://tempuri.org/IDMFService/GetAllNSOOutput" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetOneNSOOutput">
      <soap:operation soapAction="http://tempuri.org/IDMFService/GetOneNSOOutput" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="DMFService">
    <wsdl:port name="BasicHttpBinding_IDMFService" binding="tns:BasicHttpBinding_IDMFService">
      <soap:address location="http://dynamicscrmproxy.apphb.com/Services/DMFService.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>