CrmConsoleClient/Web References/CovenantService/CovenantService9.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/System.Collections.Generic" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/System.Collections.Generic" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://dynamicscrmproxy.apphb.com/Services/CovenantService.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
  <xs:import schemaLocation="http://dynamicscrmproxy.apphb.com/Services/CovenantService.svc?xsd=xsd4" namespace="http://schemas.microsoft.com/xrm/2011/Contracts" />
  <xs:import schemaLocation="http://dynamicscrmproxy.apphb.com/Services/CovenantService.svc?xsd=xsd12" namespace="http://schemas.microsoft.com/xrm/2011/Metadata/Query" />
  <xs:import schemaLocation="http://dynamicscrmproxy.apphb.com/Services/CovenantService.svc?xsd=xsd6" namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
  <xs:import schemaLocation="http://dynamicscrmproxy.apphb.com/Services/CovenantService.svc?xsd=xsd11" namespace="http://schemas.microsoft.com/xrm/2014/Contracts" />
  <xs:complexType name="KeyValuePairOfstringanyType">
    <xs:annotation>
      <xs:appinfo>
        <GenericType Name="KeyValuePairOf{0}{1}{#}" Namespace="http://schemas.datacontract.org/2004/07/System.Collections.Generic" xmlns="http://schemas.microsoft.com/2003/10/Serialization/">
          <GenericParameter Name="string" Namespace="http://www.w3.org/2001/XMLSchema" />
          <GenericParameter Name="anyType" Namespace="http://www.w3.org/2001/XMLSchema" />
        </GenericType>
        <IsValueType xmlns="http://schemas.microsoft.com/2003/10/Serialization/">true</IsValueType>
      </xs:appinfo>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="key" nillable="true" type="xs:string" />
      <xs:element name="value" nillable="true" type="xs:anyType" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="KeyValuePairOfstringanyType" nillable="true" type="tns:KeyValuePairOfstringanyType" />
  <xs:complexType name="KeyValuePairOfRelationshipQueryBaseX_PsK4FkN">
    <xs:annotation>
      <xs:appinfo>
        <GenericType Name="KeyValuePairOf{0}{1}{#}" Namespace="http://schemas.datacontract.org/2004/07/System.Collections.Generic" xmlns="http://schemas.microsoft.com/2003/10/Serialization/">
          <GenericParameter Name="Relationship" Namespace="http://schemas.microsoft.com/xrm/2011/Contracts" />
          <GenericParameter Name="QueryBase" Namespace="http://schemas.microsoft.com/xrm/2011/Contracts" />
        </GenericType>
        <IsValueType xmlns="http://schemas.microsoft.com/2003/10/Serialization/">true</IsValueType>
      </xs:appinfo>
    </xs:annotation>
    <xs:sequence>
      <xs:element xmlns:q1="http://schemas.microsoft.com/xrm/2011/Contracts" name="key" nillable="true" type="q1:Relationship" />
      <xs:element xmlns:q2="http://schemas.microsoft.com/xrm/2011/Contracts" name="value" nillable="true" type="q2:QueryBase" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="KeyValuePairOfRelationshipQueryBaseX_PsK4FkN" nillable="true" type="tns:KeyValuePairOfRelationshipQueryBaseX_PsK4FkN" />
  <xs:complexType name="KeyValuePairOfDeletedMetadataFiltersArrayOfguidPlUv_PKtF">
    <xs:annotation>
      <xs:appinfo>
        <GenericType Name="KeyValuePairOf{0}{1}{#}" Namespace="http://schemas.datacontract.org/2004/07/System.Collections.Generic" xmlns="http://schemas.microsoft.com/2003/10/Serialization/">
          <GenericParameter Name="DeletedMetadataFilters" Namespace="http://schemas.microsoft.com/xrm/2011/Metadata/Query" />
          <GenericParameter Name="ArrayOfguid" Namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
        </GenericType>
        <IsValueType xmlns="http://schemas.microsoft.com/2003/10/Serialization/">true</IsValueType>
      </xs:appinfo>
    </xs:annotation>
    <xs:sequence>
      <xs:element xmlns:q3="http://schemas.microsoft.com/xrm/2011/Metadata/Query" name="key" type="q3:DeletedMetadataFilters" />
      <xs:element xmlns:q4="http://schemas.microsoft.com/2003/10/Serialization/Arrays" name="value" nillable="true" type="q4:ArrayOfguid" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="KeyValuePairOfDeletedMetadataFiltersArrayOfguidPlUv_PKtF" nillable="true" type="tns:KeyValuePairOfDeletedMetadataFiltersArrayOfguidPlUv_PKtF" />
  <xs:complexType name="KeyValuePairOfEndpointTypestringyDL0RVHi">
    <xs:annotation>
      <xs:appinfo>
        <GenericType Name="KeyValuePairOf{0}{1}{#}" Namespace="http://schemas.datacontract.org/2004/07/System.Collections.Generic" xmlns="http://schemas.microsoft.com/2003/10/Serialization/">
          <GenericParameter Name="EndpointType" Namespace="http://schemas.microsoft.com/xrm/2014/Contracts" />
          <GenericParameter Name="string" Namespace="http://www.w3.org/2001/XMLSchema" />
        </GenericType>
        <IsValueType xmlns="http://schemas.microsoft.com/2003/10/Serialization/">true</IsValueType>
      </xs:appinfo>
    </xs:annotation>
    <xs:sequence>
      <xs:element xmlns:q5="http://schemas.microsoft.com/xrm/2014/Contracts" name="key" type="q5:EndpointType" />
      <xs:element name="value" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="KeyValuePairOfEndpointTypestringyDL0RVHi" nillable="true" type="tns:KeyValuePairOfEndpointTypestringyDL0RVHi" />
  <xs:complexType name="KeyValuePairOfstringArrayOfanyTypety7Ep6D1">
    <xs:annotation>
      <xs:appinfo>
        <GenericType Name="KeyValuePairOf{0}{1}{#}" Namespace="http://schemas.datacontract.org/2004/07/System.Collections.Generic" xmlns="http://schemas.microsoft.com/2003/10/Serialization/">
          <GenericParameter Name="string" Namespace="http://www.w3.org/2001/XMLSchema" />
          <GenericParameter Name="ArrayOfanyType" Namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
        </GenericType>
        <IsValueType xmlns="http://schemas.microsoft.com/2003/10/Serialization/">true</IsValueType>
      </xs:appinfo>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="key" nillable="true" type="xs:string" />
      <xs:element xmlns:q6="http://schemas.microsoft.com/2003/10/Serialization/Arrays" name="value" nillable="true" type="q6:ArrayOfanyType" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="KeyValuePairOfstringArrayOfanyTypety7Ep6D1" nillable="true" type="tns:KeyValuePairOfstringArrayOfanyTypety7Ep6D1" />
  <xs:complexType name="ArrayOfKeyValuePairOfstringanyType">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="KeyValuePairOfstringanyType" type="tns:KeyValuePairOfstringanyType" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfKeyValuePairOfstringanyType" nillable="true" type="tns:ArrayOfKeyValuePairOfstringanyType" />
  <xs:complexType name="KeyValuePairOfstringstring">
    <xs:annotation>
      <xs:appinfo>
        <GenericType Name="KeyValuePairOf{0}{1}{#}" Namespace="http://schemas.datacontract.org/2004/07/System.Collections.Generic" xmlns="http://schemas.microsoft.com/2003/10/Serialization/">
          <GenericParameter Name="string" Namespace="http://www.w3.org/2001/XMLSchema" />
          <GenericParameter Name="string" Namespace="http://www.w3.org/2001/XMLSchema" />
        </GenericType>
        <IsValueType xmlns="http://schemas.microsoft.com/2003/10/Serialization/">true</IsValueType>
      </xs:appinfo>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="key" nillable="true" type="xs:string" />
      <xs:element name="value" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="KeyValuePairOfstringstring" nillable="true" type="tns:KeyValuePairOfstringstring" />
  <xs:complexType name="KeyValuePairOfRelationshipEntityCollectionX_PsK4FkN">
    <xs:annotation>
      <xs:appinfo>
        <GenericType Name="KeyValuePairOf{0}{1}{#}" Namespace="http://schemas.datacontract.org/2004/07/System.Collections.Generic" xmlns="http://schemas.microsoft.com/2003/10/Serialization/">
          <GenericParameter Name="Relationship" Namespace="http://schemas.microsoft.com/xrm/2011/Contracts" />
          <GenericParameter Name="EntityCollection" Namespace="http://schemas.microsoft.com/xrm/2011/Contracts" />
        </GenericType>
        <IsValueType xmlns="http://schemas.microsoft.com/2003/10/Serialization/">true</IsValueType>
      </xs:appinfo>
    </xs:annotation>
    <xs:sequence>
      <xs:element xmlns:q7="http://schemas.microsoft.com/xrm/2011/Contracts" name="key" nillable="true" type="q7:Relationship" />
      <xs:element xmlns:q8="http://schemas.microsoft.com/xrm/2011/Contracts" name="value" nillable="true" type="q8:EntityCollection" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="KeyValuePairOfRelationshipEntityCollectionX_PsK4FkN" nillable="true" type="tns:KeyValuePairOfRelationshipEntityCollectionX_PsK4FkN" />
</xs:schema>