CrmConsoleClient/Web References/CovenantService/CovenantService8.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:ser="http://schemas.microsoft.com/2003/10/Serialization/" xmlns:tns="http://schemas.microsoft.com/crm/2011/Contracts" elementFormDefault="qualified" targetNamespace="http://schemas.microsoft.com/crm/2011/Contracts" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://dynamicscrmproxy.apphb.com/Services/CovenantService.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
  <xs:import schemaLocation="http://dynamicscrmproxy.apphb.com/Services/CovenantService.svc?xsd=xsd6" namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
  <xs:import schemaLocation="http://dynamicscrmproxy.apphb.com/Services/CovenantService.svc?xsd=xsd4" namespace="http://schemas.microsoft.com/xrm/2011/Contracts" />
  <xs:import schemaLocation="http://dynamicscrmproxy.apphb.com/Services/CovenantService.svc?xsd=xsd5" namespace="http://schemas.datacontract.org/2004/07/System.Collections.Generic" />
  <xs:import schemaLocation="http://dynamicscrmproxy.apphb.com/Services/CovenantService.svc?xsd=xsd16" namespace="http://schemas.datacontract.org/2004/07/Microsoft.Crm.Sdk.Messages" />
  <xs:complexType name="AppointmentProposal">
    <xs:sequence>
      <xs:element minOccurs="0" name="End" nillable="true" type="xs:dateTime" />
      <xs:element minOccurs="0" name="ProposalParties" nillable="true" type="tns:ArrayOfProposalParty" />
      <xs:element minOccurs="0" name="SiteId" type="ser:guid" />
      <xs:element minOccurs="0" name="SiteName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Start" nillable="true" type="xs:dateTime" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="AppointmentProposal" nillable="true" type="tns:AppointmentProposal" />
  <xs:complexType name="ArrayOfProposalParty">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="ProposalParty" nillable="true" type="tns:ProposalParty" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfProposalParty" nillable="true" type="tns:ArrayOfProposalParty" />
  <xs:complexType name="ProposalParty">
    <xs:sequence>
      <xs:element minOccurs="0" name="DisplayName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="EffortRequired" type="xs:double" />
      <xs:element minOccurs="0" name="EntityName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ResourceId" type="ser:guid" />
      <xs:element minOccurs="0" name="ResourceSpecId" type="ser:guid" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ProposalParty" nillable="true" type="tns:ProposalParty" />
  <xs:complexType name="ArrayOfAppointmentProposal">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="AppointmentProposal" nillable="true" type="tns:AppointmentProposal" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfAppointmentProposal" nillable="true" type="tns:ArrayOfAppointmentProposal" />
  <xs:complexType name="ArrayOfArrayOfAppointmentProposal">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="ArrayOfAppointmentProposal" nillable="true" type="tns:ArrayOfAppointmentProposal" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfArrayOfAppointmentProposal" nillable="true" type="tns:ArrayOfArrayOfAppointmentProposal" />
  <xs:simpleType name="SearchDirection">
    <xs:restriction base="xs:string">
      <xs:enumeration value="Forward" />
      <xs:enumeration value="Backward" />
    </xs:restriction>
  </xs:simpleType>
  <xs:element name="SearchDirection" nillable="true" type="tns:SearchDirection" />
  <xs:complexType name="ArrayOfSearchDirection">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="SearchDirection" type="tns:SearchDirection" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfSearchDirection" nillable="true" type="tns:ArrayOfSearchDirection" />
  <xs:complexType name="ArrayOfArrayOfSearchDirection">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="ArrayOfSearchDirection" nillable="true" type="tns:ArrayOfSearchDirection" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfArrayOfSearchDirection" nillable="true" type="tns:ArrayOfArrayOfSearchDirection" />
  <xs:complexType name="AppointmentRequest">
    <xs:sequence>
      <xs:element minOccurs="0" name="AnchorOffset" type="xs:int" />
      <xs:element minOccurs="0" name="AppointmentsToIgnore" nillable="true" type="tns:ArrayOfAppointmentsToIgnore" />
      <xs:element minOccurs="0" name="Constraints" nillable="true" type="tns:ArrayOfConstraintRelation" />
      <xs:element minOccurs="0" name="Direction" type="tns:SearchDirection" />
      <xs:element minOccurs="0" name="Duration" type="xs:int" />
      <xs:element minOccurs="0" name="NumberOfResults" type="xs:int" />
      <xs:element minOccurs="0" name="Objectives" nillable="true" type="tns:ArrayOfObjectiveRelation" />
      <xs:element minOccurs="0" name="RecurrenceDuration" type="xs:int" />
      <xs:element minOccurs="0" name="RecurrenceTimeZoneCode" type="xs:int" />
      <xs:element minOccurs="0" name="RequiredResources" nillable="true" type="tns:ArrayOfRequiredResource" />
      <xs:element minOccurs="0" name="SearchRecurrenceRule" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="SearchRecurrenceStart" nillable="true" type="xs:dateTime" />
      <xs:element minOccurs="0" name="SearchWindowEnd" nillable="true" type="xs:dateTime" />
      <xs:element minOccurs="0" name="SearchWindowStart" nillable="true" type="xs:dateTime" />
      <xs:element minOccurs="0" name="ServiceId" type="ser:guid" />
      <xs:element xmlns:q1="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="Sites" nillable="true" type="q1:ArrayOfguid" />
      <xs:element minOccurs="0" name="UserTimeZoneCode" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="AppointmentRequest" nillable="true" type="tns:AppointmentRequest" />
  <xs:complexType name="ArrayOfAppointmentsToIgnore">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="AppointmentsToIgnore" nillable="true" type="tns:AppointmentsToIgnore" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfAppointmentsToIgnore" nillable="true" type="tns:ArrayOfAppointmentsToIgnore" />
  <xs:complexType name="AppointmentsToIgnore">
    <xs:sequence>
      <xs:element xmlns:q2="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="Appointments" nillable="true" type="q2:ArrayOfguid" />
      <xs:element minOccurs="0" name="ResourceId" type="ser:guid" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="AppointmentsToIgnore" nillable="true" type="tns:AppointmentsToIgnore" />
  <xs:complexType name="ArrayOfConstraintRelation">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="ConstraintRelation" nillable="true" type="tns:ConstraintRelation" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfConstraintRelation" nillable="true" type="tns:ArrayOfConstraintRelation" />
  <xs:complexType name="ConstraintRelation">
    <xs:sequence>
      <xs:element minOccurs="0" name="ConstraintType" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Constraints" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ObjectId" type="ser:guid" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ConstraintRelation" nillable="true" type="tns:ConstraintRelation" />
  <xs:complexType name="ArrayOfObjectiveRelation">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="ObjectiveRelation" nillable="true" type="tns:ObjectiveRelation" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfObjectiveRelation" nillable="true" type="tns:ArrayOfObjectiveRelation" />
  <xs:complexType name="ObjectiveRelation">
    <xs:sequence>
      <xs:element minOccurs="0" name="ObjectiveExpression" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ResourceSpecId" type="ser:guid" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ObjectiveRelation" nillable="true" type="tns:ObjectiveRelation" />
  <xs:complexType name="ArrayOfRequiredResource">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="RequiredResource" nillable="true" type="tns:RequiredResource" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfRequiredResource" nillable="true" type="tns:ArrayOfRequiredResource" />
  <xs:complexType name="RequiredResource">
    <xs:sequence>
      <xs:element minOccurs="0" name="ResourceId" type="ser:guid" />
      <xs:element minOccurs="0" name="ResourceSpecId" type="ser:guid" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="RequiredResource" nillable="true" type="tns:RequiredResource" />
  <xs:complexType name="ArrayOfAppointmentRequest">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="AppointmentRequest" nillable="true" type="tns:AppointmentRequest" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfAppointmentRequest" nillable="true" type="tns:ArrayOfAppointmentRequest" />
  <xs:complexType name="ArrayOfArrayOfAppointmentRequest">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="ArrayOfAppointmentRequest" nillable="true" type="tns:ArrayOfAppointmentRequest" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfArrayOfAppointmentRequest" nillable="true" type="tns:ArrayOfArrayOfAppointmentRequest" />
  <xs:complexType name="ArrayOfArrayOfAppointmentsToIgnore">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="ArrayOfAppointmentsToIgnore" nillable="true" type="tns:ArrayOfAppointmentsToIgnore" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfArrayOfAppointmentsToIgnore" nillable="true" type="tns:ArrayOfArrayOfAppointmentsToIgnore" />
  <xs:complexType name="AuditDetail">
    <xs:sequence>
      <xs:element xmlns:q3="http://schemas.microsoft.com/xrm/2011/Contracts" minOccurs="0" name="AuditRecord" nillable="true" type="q3:Entity" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="AuditDetail" nillable="true" type="tns:AuditDetail" />
  <xs:complexType name="RelationshipAuditDetail">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:AuditDetail">
        <xs:sequence>
          <xs:element minOccurs="0" name="RelationshipName" nillable="true" type="xs:string" />
          <xs:element xmlns:q4="http://schemas.microsoft.com/xrm/2011/Contracts" minOccurs="0" name="TargetRecords" nillable="true" type="q4:ArrayOfEntityReference" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="RelationshipAuditDetail" nillable="true" type="tns:RelationshipAuditDetail" />
  <xs:complexType name="AttributeAuditDetail">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:AuditDetail">
        <xs:sequence>
          <xs:element xmlns:q5="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="InvalidNewValueAttributes" nillable="true" type="q5:ArrayOfstring" />
          <xs:element xmlns:q6="http://schemas.microsoft.com/xrm/2011/Contracts" minOccurs="0" name="NewValue" nillable="true" type="q6:Entity" />
          <xs:element xmlns:q7="http://schemas.microsoft.com/xrm/2011/Contracts" minOccurs="0" name="OldValue" nillable="true" type="q7:Entity" />
          <xs:element xmlns:q8="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="DeletedAttributes" nillable="true" type="q8:ArrayOfKeyValueOfintstring" />
          <xs:element minOccurs="0" name="LocLabelLanguageCode" type="xs:int" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="AttributeAuditDetail" nillable="true" type="tns:AttributeAuditDetail" />
  <xs:complexType name="ShareAuditDetail">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:AuditDetail">
        <xs:sequence>
          <xs:element minOccurs="0" name="NewPrivileges" type="tns:AccessRights" />
          <xs:element minOccurs="0" name="OldPrivileges" type="tns:AccessRights" />
          <xs:element xmlns:q9="http://schemas.microsoft.com/xrm/2011/Contracts" minOccurs="0" name="Principal" nillable="true" type="q9:EntityReference" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="ShareAuditDetail" nillable="true" type="tns:ShareAuditDetail" />
  <xs:simpleType name="AccessRights">
    <xs:list>
      <xs:simpleType>
        <xs:restriction base="xs:string">
          <xs:enumeration value="None">
            <xs:annotation>
              <xs:appinfo>
                <EnumerationValue xmlns="http://schemas.microsoft.com/2003/10/Serialization/">0</EnumerationValue>
              </xs:appinfo>
            </xs:annotation>
          </xs:enumeration>
          <xs:enumeration value="ReadAccess">
            <xs:annotation>
              <xs:appinfo>
                <EnumerationValue xmlns="http://schemas.microsoft.com/2003/10/Serialization/">1</EnumerationValue>
              </xs:appinfo>
            </xs:annotation>
          </xs:enumeration>
          <xs:enumeration value="WriteAccess">
            <xs:annotation>
              <xs:appinfo>
                <EnumerationValue xmlns="http://schemas.microsoft.com/2003/10/Serialization/">2</EnumerationValue>
              </xs:appinfo>
            </xs:annotation>
          </xs:enumeration>
          <xs:enumeration value="AppendAccess">
            <xs:annotation>
              <xs:appinfo>
                <EnumerationValue xmlns="http://schemas.microsoft.com/2003/10/Serialization/">4</EnumerationValue>
              </xs:appinfo>
            </xs:annotation>
          </xs:enumeration>
          <xs:enumeration value="AppendToAccess" />
          <xs:enumeration value="CreateAccess" />
          <xs:enumeration value="DeleteAccess">
            <xs:annotation>
              <xs:appinfo>
                <EnumerationValue xmlns="http://schemas.microsoft.com/2003/10/Serialization/">65536</EnumerationValue>
              </xs:appinfo>
            </xs:annotation>
          </xs:enumeration>
          <xs:enumeration value="ShareAccess">
            <xs:annotation>
              <xs:appinfo>
                <EnumerationValue xmlns="http://schemas.microsoft.com/2003/10/Serialization/">262144</EnumerationValue>
              </xs:appinfo>
            </xs:annotation>
          </xs:enumeration>
          <xs:enumeration value="AssignAccess">
            <xs:annotation>
              <xs:appinfo>
                <EnumerationValue xmlns="http://schemas.microsoft.com/2003/10/Serialization/">524288</EnumerationValue>
              </xs:appinfo>
            </xs:annotation>
          </xs:enumeration>
        </xs:restriction>
      </xs:simpleType>
    </xs:list>
  </xs:simpleType>
  <xs:element name="AccessRights" nillable="true" type="tns:AccessRights" />
  <xs:complexType name="ArrayOfAuditDetail">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="AuditDetail" nillable="true" type="tns:AuditDetail" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfAuditDetail" nillable="true" type="tns:ArrayOfAuditDetail" />
  <xs:complexType name="ArrayOfArrayOfAuditDetail">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="ArrayOfAuditDetail" nillable="true" type="tns:ArrayOfAuditDetail" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfArrayOfAuditDetail" nillable="true" type="tns:ArrayOfArrayOfAuditDetail" />
  <xs:complexType name="ArrayOfAttributeAuditDetail">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="AttributeAuditDetail" nillable="true" type="tns:AttributeAuditDetail" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfAttributeAuditDetail" nillable="true" type="tns:ArrayOfAttributeAuditDetail" />
  <xs:complexType name="ArrayOfArrayOfAttributeAuditDetail">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="ArrayOfAttributeAuditDetail" nillable="true" type="tns:ArrayOfAttributeAuditDetail" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfArrayOfAttributeAuditDetail" nillable="true" type="tns:ArrayOfArrayOfAttributeAuditDetail" />
  <xs:complexType name="AuditDetailCollection">
    <xs:sequence>
      <xs:element minOccurs="0" name="AuditDetails" nillable="true" type="tns:ArrayOfAuditDetail" />
      <xs:element minOccurs="0" name="MoreRecords" type="xs:boolean" />
      <xs:element minOccurs="0" name="PagingCookie" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="TotalRecordCount" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="AuditDetailCollection" nillable="true" type="tns:AuditDetailCollection" />
  <xs:complexType name="ArrayOfAuditDetailCollection">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="AuditDetailCollection" nillable="true" type="tns:AuditDetailCollection" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfAuditDetailCollection" nillable="true" type="tns:ArrayOfAuditDetailCollection" />
  <xs:complexType name="ArrayOfArrayOfAuditDetailCollection">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="ArrayOfAuditDetailCollection" nillable="true" type="tns:ArrayOfAuditDetailCollection" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfArrayOfAuditDetailCollection" nillable="true" type="tns:ArrayOfArrayOfAuditDetailCollection" />
  <xs:complexType name="AuditPartitionDetail">
    <xs:sequence>
      <xs:element minOccurs="0" name="EndDate" nillable="true" type="xs:dateTime" />
      <xs:element minOccurs="0" name="PartitionNumber" type="xs:int" />
      <xs:element minOccurs="0" name="Size" type="xs:long" />
      <xs:element minOccurs="0" name="StartDate" nillable="true" type="xs:dateTime" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="AuditPartitionDetail" nillable="true" type="tns:AuditPartitionDetail" />
  <xs:complexType name="ArrayOfAuditPartitionDetail">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="AuditPartitionDetail" nillable="true" type="tns:AuditPartitionDetail" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfAuditPartitionDetail" nillable="true" type="tns:ArrayOfAuditPartitionDetail" />
  <xs:complexType name="ArrayOfArrayOfAuditPartitionDetail">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="ArrayOfAuditPartitionDetail" nillable="true" type="tns:ArrayOfAuditPartitionDetail" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfArrayOfAuditPartitionDetail" nillable="true" type="tns:ArrayOfArrayOfAuditPartitionDetail" />
  <xs:complexType name="AuditPartitionDetailCollection">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="AuditPartitionDetail" nillable="true" type="tns:AuditPartitionDetail" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="AuditPartitionDetailCollection" nillable="true" type="tns:AuditPartitionDetailCollection" />
  <xs:complexType name="ArrayOfAuditPartitionDetailCollection">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="AuditPartitionDetailCollection" nillable="true" type="tns:AuditPartitionDetailCollection" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfAuditPartitionDetailCollection" nillable="true" type="tns:ArrayOfAuditPartitionDetailCollection" />
  <xs:complexType name="ArrayOfArrayOfAuditPartitionDetailCollection">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="ArrayOfAuditPartitionDetailCollection" nillable="true" type="tns:ArrayOfAuditPartitionDetailCollection" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfArrayOfAuditPartitionDetailCollection" nillable="true" type="tns:ArrayOfArrayOfAuditPartitionDetailCollection" />
  <xs:complexType name="ComponentDetail">
    <xs:sequence>
      <xs:element minOccurs="0" name="DisplayName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Id" type="ser:guid" />
      <xs:element minOccurs="0" name="ParentDisplayName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ParentId" type="ser:guid" />
      <xs:element minOccurs="0" name="ParentSchemaName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="SchemaName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Solution" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Type" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ComponentDetail" nillable="true" type="tns:ComponentDetail" />
  <xs:complexType name="ArrayOfComponentDetail">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="ComponentDetail" nillable="true" type="tns:ComponentDetail" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfComponentDetail" nillable="true" type="tns:ArrayOfComponentDetail" />
  <xs:complexType name="ArrayOfArrayOfComponentDetail">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="ArrayOfComponentDetail" nillable="true" type="tns:ArrayOfComponentDetail" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfArrayOfComponentDetail" nillable="true" type="tns:ArrayOfArrayOfComponentDetail" />
  <xs:complexType name="ArrayOfArrayOfConstraintRelation">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="ArrayOfConstraintRelation" nillable="true" type="tns:ArrayOfConstraintRelation" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfArrayOfConstraintRelation" nillable="true" type="tns:ArrayOfArrayOfConstraintRelation" />
  <xs:simpleType name="BulkOperationSource">
    <xs:restriction base="xs:string">
      <xs:enumeration value="QuickCampaign" />
      <xs:enumeration value="CampaignActivity" />
    </xs:restriction>
  </xs:simpleType>
  <xs:element name="BulkOperationSource" nillable="true" type="tns:BulkOperationSource" />
  <xs:complexType name="ArrayOfBulkOperationSource">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="BulkOperationSource" type="tns:BulkOperationSource" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfBulkOperationSource" nillable="true" type="tns:ArrayOfBulkOperationSource" />
  <xs:complexType name="ArrayOfArrayOfBulkOperationSource">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="ArrayOfBulkOperationSource" nillable="true" type="tns:ArrayOfBulkOperationSource" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfArrayOfBulkOperationSource" nillable="true" type="tns:ArrayOfArrayOfBulkOperationSource" />
  <xs:simpleType name="EntitySource">
    <xs:restriction base="xs:string">
      <xs:enumeration value="Account" />
      <xs:enumeration value="Contact" />
      <xs:enumeration value="Lead" />
      <xs:enumeration value="All" />
    </xs:restriction>
  </xs:simpleType>
  <xs:element name="EntitySource" nillable="true" type="tns:EntitySource" />
  <xs:complexType name="ArrayOfEntitySource">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="EntitySource" type="tns:EntitySource" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfEntitySource" nillable="true" type="tns:ArrayOfEntitySource" />
  <xs:complexType name="ArrayOfArrayOfEntitySource">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="ArrayOfEntitySource" nillable="true" type="tns:ArrayOfEntitySource" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfArrayOfEntitySource" nillable="true" type="tns:ArrayOfArrayOfEntitySource" />
  <xs:simpleType name="TargetFieldType">
    <xs:restriction base="xs:string">
      <xs:enumeration value="All" />
      <xs:enumeration value="ValidForCreate" />
      <xs:enumeration value="ValidForUpdate" />
      <xs:enumeration value="ValidForRead" />
    </xs:restriction>
  </xs:simpleType>
  <xs:element name="TargetFieldType" nillable="true" type="tns:TargetFieldType" />
  <xs:complexType name="ArrayOfTargetFieldType">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="TargetFieldType" type="tns:TargetFieldType" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfTargetFieldType" nillable="true" type="tns:ArrayOfTargetFieldType" />
  <xs:complexType name="ArrayOfArrayOfTargetFieldType">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="ArrayOfTargetFieldType" nillable="true" type="tns:ArrayOfTargetFieldType" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfArrayOfTargetFieldType" nillable="true" type="tns:ArrayOfArrayOfTargetFieldType" />
  <xs:simpleType name="PropagationOwnershipOptions">
    <xs:restriction base="xs:string">
      <xs:enumeration value="None" />
      <xs:enumeration value="Caller" />
      <xs:enumeration value="ListMemberOwner" />
    </xs:restriction>
  </xs:simpleType>
  <xs:element name="PropagationOwnershipOptions" nillable="true" type="tns:PropagationOwnershipOptions" />
  <xs:complexType name="ArrayOfPropagationOwnershipOptions">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="PropagationOwnershipOptions" type="tns:PropagationOwnershipOptions" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfPropagationOwnershipOptions" nillable="true" type="tns:ArrayOfPropagationOwnershipOptions" />
  <xs:complexType name="ArrayOfArrayOfPropagationOwnershipOptions">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="ArrayOfPropagationOwnershipOptions" nillable="true" type="tns:ArrayOfPropagationOwnershipOptions" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfArrayOfPropagationOwnershipOptions" nillable="true" type="tns:ArrayOfArrayOfPropagationOwnershipOptions" />
  <xs:simpleType name="RollupType">
    <xs:restriction base="xs:string">
      <xs:enumeration value="None" />
      <xs:enumeration value="Related" />
      <xs:enumeration value="Extended" />
    </xs:restriction>
  </xs:simpleType>
  <xs:element name="RollupType" nillable="true" type="tns:RollupType" />
  <xs:complexType name="ArrayOfRollupType">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="RollupType" type="tns:RollupType" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfRollupType" nillable="true" type="tns:ArrayOfRollupType" />
  <xs:complexType name="ArrayOfArrayOfRollupType">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="ArrayOfRollupType" nillable="true" type="tns:ArrayOfRollupType" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfArrayOfRollupType" nillable="true" type="tns:ArrayOfArrayOfRollupType" />
  <xs:complexType name="ErrorInfo">
    <xs:sequence>
      <xs:element minOccurs="0" name="ErrorCode" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ResourceList" nillable="true" type="tns:ArrayOfResourceInfo" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ErrorInfo" nillable="true" type="tns:ErrorInfo" />
  <xs:complexType name="ArrayOfResourceInfo">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="ResourceInfo" nillable="true" type="tns:ResourceInfo" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfResourceInfo" nillable="true" type="tns:ArrayOfResourceInfo" />
  <xs:complexType name="ResourceInfo">
    <xs:sequence>
      <xs:element minOccurs="0" name="DisplayName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="EntityName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Id" type="ser:guid" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ResourceInfo" nillable="true" type="tns:ResourceInfo" />
  <xs:complexType name="ArrayOfErrorInfo">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="ErrorInfo" nillable="true" type="tns:ErrorInfo" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfErrorInfo" nillable="true" type="tns:ArrayOfErrorInfo" />
  <xs:complexType name="ArrayOfArrayOfErrorInfo">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="ArrayOfErrorInfo" nillable="true" type="tns:ArrayOfErrorInfo" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfArrayOfErrorInfo" nillable="true" type="tns:ArrayOfArrayOfErrorInfo" />
  <xs:complexType name="InputArgumentCollection">
    <xs:sequence>
      <xs:element xmlns:q10="http://schemas.datacontract.org/2004/07/System.Collections.Generic" minOccurs="0" name="Arguments" nillable="true" type="q10:ArrayOfKeyValuePairOfstringanyType" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="InputArgumentCollection" nillable="true" type="tns:InputArgumentCollection" />
  <xs:complexType name="ArrayOfInputArgumentCollection">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="InputArgumentCollection" nillable="true" type="tns:InputArgumentCollection" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfInputArgumentCollection" nillable="true" type="tns:ArrayOfInputArgumentCollection" />
  <xs:complexType name="ArrayOfArrayOfInputArgumentCollection">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="ArrayOfInputArgumentCollection" nillable="true" type="tns:ArrayOfInputArgumentCollection" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfArrayOfInputArgumentCollection" nillable="true" type="tns:ArrayOfArrayOfInputArgumentCollection" />
  <xs:complexType name="BusinessNotification">
    <xs:sequence>
      <xs:element minOccurs="0" name="Message" nillable="true" type="xs:string" />
      <xs:element xmlns:q11="http://schemas.datacontract.org/2004/07/Microsoft.Crm.Sdk.Messages" minOccurs="0" name="Parameters" nillable="true" type="q11:ArrayOfBusinessNotificationParameter" />
      <xs:element xmlns:q12="http://schemas.datacontract.org/2004/07/Microsoft.Crm.Sdk.Messages" minOccurs="0" name="Severity" type="q12:BusinessNotificationSeverity" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="BusinessNotification" nillable="true" type="tns:BusinessNotification" />
  <xs:complexType name="ArrayOfBusinessNotification">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="BusinessNotification" nillable="true" type="tns:BusinessNotification" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfBusinessNotification" nillable="true" type="tns:ArrayOfBusinessNotification" />
  <xs:complexType name="ArrayOfArrayOfBusinessNotification">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="ArrayOfBusinessNotification" nillable="true" type="tns:ArrayOfBusinessNotification" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfArrayOfBusinessNotification" nillable="true" type="tns:ArrayOfArrayOfBusinessNotification" />
  <xs:complexType name="MissingComponent">
    <xs:sequence>
      <xs:element minOccurs="0" name="DependentComponent" nillable="true" type="tns:ComponentDetail" />
      <xs:element minOccurs="0" name="RequiredComponent" nillable="true" type="tns:ComponentDetail" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="MissingComponent" nillable="true" type="tns:MissingComponent" />
  <xs:complexType name="ArrayOfMissingComponent">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="MissingComponent" nillable="true" type="tns:MissingComponent" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfMissingComponent" nillable="true" type="tns:ArrayOfMissingComponent" />
  <xs:complexType name="ArrayOfArrayOfMissingComponent">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="ArrayOfMissingComponent" nillable="true" type="tns:ArrayOfMissingComponent" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfArrayOfMissingComponent" nillable="true" type="tns:ArrayOfArrayOfMissingComponent" />
  <xs:complexType name="ArrayOfArrayOfObjectiveRelation">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="ArrayOfObjectiveRelation" nillable="true" type="tns:ArrayOfObjectiveRelation" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfArrayOfObjectiveRelation" nillable="true" type="tns:ArrayOfArrayOfObjectiveRelation" />
  <xs:complexType name="OrganizationResources">
    <xs:sequence>
      <xs:element minOccurs="0" name="CurrentNumberOfActiveUsers" type="xs:int" />
      <xs:element minOccurs="0" name="CurrentNumberOfCustomEntities" type="xs:int" />
      <xs:element minOccurs="0" name="CurrentNumberOfNonInteractiveUsers" type="xs:int" />
      <xs:element minOccurs="0" name="CurrentNumberOfPublishedWorkflows" type="xs:int" />
      <xs:element minOccurs="0" name="CurrentStorage" type="xs:int" />
      <xs:element minOccurs="0" name="MaxNumberOfActiveUsers" type="xs:int" />
      <xs:element minOccurs="0" name="MaxNumberOfCustomEntities" type="xs:int" />
      <xs:element minOccurs="0" name="MaxNumberOfNonInteractiveUsers" type="xs:int" />
      <xs:element minOccurs="0" name="MaxNumberOfPublishedWorkflows" type="xs:int" />
      <xs:element minOccurs="0" name="MaxStorage" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="OrganizationResources" nillable="true" type="tns:OrganizationResources" />
  <xs:complexType name="ArrayOfOrganizationResources">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="OrganizationResources" nillable="true" type="tns:OrganizationResources" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfOrganizationResources" nillable="true" type="tns:ArrayOfOrganizationResources" />
  <xs:complexType name="ArrayOfArrayOfOrganizationResources">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="ArrayOfOrganizationResources" nillable="true" type="tns:ArrayOfOrganizationResources" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfArrayOfOrganizationResources" nillable="true" type="tns:ArrayOfArrayOfOrganizationResources" />
  <xs:complexType name="PrincipalAccess">
    <xs:sequence>
      <xs:element minOccurs="0" name="AccessMask" type="tns:AccessRights" />
      <xs:element xmlns:q13="http://schemas.microsoft.com/xrm/2011/Contracts" minOccurs="0" name="Principal" nillable="true" type="q13:EntityReference" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="PrincipalAccess" nillable="true" type="tns:PrincipalAccess" />
  <xs:complexType name="ArrayOfPrincipalAccess">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="PrincipalAccess" nillable="true" type="tns:PrincipalAccess" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfPrincipalAccess" nillable="true" type="tns:ArrayOfPrincipalAccess" />
  <xs:complexType name="ArrayOfArrayOfPrincipalAccess">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="ArrayOfPrincipalAccess" nillable="true" type="tns:ArrayOfPrincipalAccess" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfArrayOfPrincipalAccess" nillable="true" type="tns:ArrayOfArrayOfPrincipalAccess" />
  <xs:complexType name="ArrayOfAccessRights">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="AccessRights" type="tns:AccessRights" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfAccessRights" nillable="true" type="tns:ArrayOfAccessRights" />
  <xs:complexType name="ArrayOfArrayOfAccessRights">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="ArrayOfAccessRights" nillable="true" type="tns:ArrayOfAccessRights" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfArrayOfAccessRights" nillable="true" type="tns:ArrayOfArrayOfAccessRights" />
  <xs:complexType name="ArrayOfArrayOfProposalParty">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="ArrayOfProposalParty" nillable="true" type="tns:ArrayOfProposalParty" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfArrayOfProposalParty" nillable="true" type="tns:ArrayOfArrayOfProposalParty" />
  <xs:complexType name="ArrayOfRelationshipAuditDetail">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="RelationshipAuditDetail" nillable="true" type="tns:RelationshipAuditDetail" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfRelationshipAuditDetail" nillable="true" type="tns:ArrayOfRelationshipAuditDetail" />
  <xs:complexType name="ArrayOfArrayOfRelationshipAuditDetail">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="ArrayOfRelationshipAuditDetail" nillable="true" type="tns:ArrayOfRelationshipAuditDetail" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfArrayOfRelationshipAuditDetail" nillable="true" type="tns:ArrayOfArrayOfRelationshipAuditDetail" />
  <xs:complexType name="ArrayOfArrayOfRequiredResource">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="ArrayOfRequiredResource" nillable="true" type="tns:ArrayOfRequiredResource" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfArrayOfRequiredResource" nillable="true" type="tns:ArrayOfArrayOfRequiredResource" />
  <xs:complexType name="ArrayOfArrayOfResourceInfo">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="ArrayOfResourceInfo" nillable="true" type="tns:ArrayOfResourceInfo" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfArrayOfResourceInfo" nillable="true" type="tns:ArrayOfArrayOfResourceInfo" />
  <xs:simpleType name="RibbonLocationFilters">
    <xs:list>
      <xs:simpleType>
        <xs:restriction base="xs:string">
          <xs:enumeration value="Form" />
          <xs:enumeration value="HomepageGrid" />
          <xs:enumeration value="SubGrid" />
        </xs:restriction>
      </xs:simpleType>
    </xs:list>
  </xs:simpleType>
  <xs:element name="RibbonLocationFilters" nillable="true" type="tns:RibbonLocationFilters" />
  <xs:complexType name="ArrayOfRibbonLocationFilters">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="RibbonLocationFilters" type="tns:RibbonLocationFilters" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfRibbonLocationFilters" nillable="true" type="tns:ArrayOfRibbonLocationFilters" />
  <xs:complexType name="ArrayOfArrayOfRibbonLocationFilters">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="ArrayOfRibbonLocationFilters" nillable="true" type="tns:ArrayOfRibbonLocationFilters" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfArrayOfRibbonLocationFilters" nillable="true" type="tns:ArrayOfArrayOfRibbonLocationFilters" />
  <xs:simpleType name="PrivilegeDepth">
    <xs:restriction base="xs:string">
      <xs:enumeration value="Basic" />
      <xs:enumeration value="Local" />
      <xs:enumeration value="Deep" />
      <xs:enumeration value="Global" />
    </xs:restriction>
  </xs:simpleType>
  <xs:element name="PrivilegeDepth" nillable="true" type="tns:PrivilegeDepth" />
  <xs:complexType name="ArrayOfPrivilegeDepth">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="PrivilegeDepth" type="tns:PrivilegeDepth" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfPrivilegeDepth" nillable="true" type="tns:ArrayOfPrivilegeDepth" />
  <xs:complexType name="ArrayOfArrayOfPrivilegeDepth">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="ArrayOfPrivilegeDepth" nillable="true" type="tns:ArrayOfPrivilegeDepth" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfArrayOfPrivilegeDepth" nillable="true" type="tns:ArrayOfArrayOfPrivilegeDepth" />
  <xs:complexType name="RolePrivilege">
    <xs:sequence>
      <xs:element minOccurs="0" name="BusinessUnitId" type="ser:guid" />
      <xs:element minOccurs="0" name="Depth" type="tns:PrivilegeDepth" />
      <xs:element minOccurs="0" name="PrivilegeId" type="ser:guid" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="RolePrivilege" nillable="true" type="tns:RolePrivilege" />
  <xs:complexType name="ArrayOfRolePrivilege">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="RolePrivilege" nillable="true" type="tns:RolePrivilege" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfRolePrivilege" nillable="true" type="tns:ArrayOfRolePrivilege" />
  <xs:complexType name="ArrayOfArrayOfRolePrivilege">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="ArrayOfRolePrivilege" nillable="true" type="tns:ArrayOfRolePrivilege" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfArrayOfRolePrivilege" nillable="true" type="tns:ArrayOfArrayOfRolePrivilege" />
  <xs:complexType name="SearchResults">
    <xs:sequence>
      <xs:element minOccurs="0" name="Proposals" nillable="true" type="tns:ArrayOfAppointmentProposal" />
      <xs:element minOccurs="0" name="TraceInfo" nillable="true" type="tns:TraceInfo" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="SearchResults" nillable="true" type="tns:SearchResults" />
  <xs:complexType name="TraceInfo">
    <xs:sequence>
      <xs:element minOccurs="0" name="ErrorInfoList" nillable="true" type="tns:ArrayOfErrorInfo" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="TraceInfo" nillable="true" type="tns:TraceInfo" />
  <xs:complexType name="ArrayOfSearchResults">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="SearchResults" nillable="true" type="tns:SearchResults" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfSearchResults" nillable="true" type="tns:ArrayOfSearchResults" />
  <xs:complexType name="ArrayOfArrayOfSearchResults">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="ArrayOfSearchResults" nillable="true" type="tns:ArrayOfSearchResults" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfArrayOfSearchResults" nillable="true" type="tns:ArrayOfArrayOfSearchResults" />
  <xs:complexType name="ArrayOfShareAuditDetail">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="ShareAuditDetail" nillable="true" type="tns:ShareAuditDetail" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfShareAuditDetail" nillable="true" type="tns:ArrayOfShareAuditDetail" />
  <xs:complexType name="ArrayOfArrayOfShareAuditDetail">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="ArrayOfShareAuditDetail" nillable="true" type="tns:ArrayOfShareAuditDetail" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfArrayOfShareAuditDetail" nillable="true" type="tns:ArrayOfArrayOfShareAuditDetail" />
  <xs:complexType name="RolePrivilegeAuditDetail">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:AuditDetail">
        <xs:sequence>
          <xs:element xmlns:q14="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="InvalidNewPrivileges" nillable="true" type="q14:ArrayOfguid" />
          <xs:element minOccurs="0" name="NewRolePrivileges" nillable="true" type="tns:ArrayOfRolePrivilege" />
          <xs:element minOccurs="0" name="OldRolePrivileges" nillable="true" type="tns:ArrayOfRolePrivilege" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="RolePrivilegeAuditDetail" nillable="true" type="tns:RolePrivilegeAuditDetail" />
  <xs:complexType name="ArrayOfRolePrivilegeAuditDetail">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="RolePrivilegeAuditDetail" nillable="true" type="tns:RolePrivilegeAuditDetail" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfRolePrivilegeAuditDetail" nillable="true" type="tns:ArrayOfRolePrivilegeAuditDetail" />
  <xs:complexType name="ArrayOfArrayOfRolePrivilegeAuditDetail">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="ArrayOfRolePrivilegeAuditDetail" nillable="true" type="tns:ArrayOfRolePrivilegeAuditDetail" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfArrayOfRolePrivilegeAuditDetail" nillable="true" type="tns:ArrayOfArrayOfRolePrivilegeAuditDetail" />
  <xs:complexType name="TimeInfo">
    <xs:sequence>
      <xs:element minOccurs="0" name="ActivityStatusCode" type="xs:int" />
      <xs:element minOccurs="0" name="CalendarId" type="ser:guid" />
      <xs:element minOccurs="0" name="DisplayText" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Effort" type="xs:double" />
      <xs:element minOccurs="0" name="End" nillable="true" type="xs:dateTime" />
      <xs:element minOccurs="0" name="IsActivity" type="xs:boolean" />
      <xs:element minOccurs="0" name="SourceId" type="ser:guid" />
      <xs:element minOccurs="0" name="SourceTypeCode" type="xs:int" />
      <xs:element minOccurs="0" name="Start" nillable="true" type="xs:dateTime" />
      <xs:element minOccurs="0" name="SubCode" type="tns:SubCode" />
      <xs:element minOccurs="0" name="TimeCode" type="tns:TimeCode" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="TimeInfo" nillable="true" type="tns:TimeInfo" />
  <xs:simpleType name="SubCode">
    <xs:restriction base="xs:string">
      <xs:enumeration value="Unspecified" />
      <xs:enumeration value="Schedulable" />
      <xs:enumeration value="Committed" />
      <xs:enumeration value="Uncommitted" />
      <xs:enumeration value="Break" />
      <xs:enumeration value="Holiday" />
      <xs:enumeration value="Vacation" />
      <xs:enumeration value="Appointment" />
      <xs:enumeration value="ResourceStartTime" />
      <xs:enumeration value="ResourceServiceRestriction" />
      <xs:enumeration value="ResourceCapacity" />
      <xs:enumeration value="ServiceRestriction" />
      <xs:enumeration value="ServiceCost" />
    </xs:restriction>
  </xs:simpleType>
  <xs:element name="SubCode" nillable="true" type="tns:SubCode" />
  <xs:simpleType name="TimeCode">
    <xs:restriction base="xs:string">
      <xs:enumeration value="Available" />
      <xs:enumeration value="Busy" />
      <xs:enumeration value="Unavailable" />
      <xs:enumeration value="Filter" />
    </xs:restriction>
  </xs:simpleType>
  <xs:element name="TimeCode" nillable="true" type="tns:TimeCode" />
  <xs:complexType name="ArrayOfTimeInfo">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="TimeInfo" nillable="true" type="tns:TimeInfo" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfTimeInfo" nillable="true" type="tns:ArrayOfTimeInfo" />
  <xs:complexType name="ArrayOfArrayOfTimeInfo">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="ArrayOfTimeInfo" nillable="true" type="tns:ArrayOfTimeInfo" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfArrayOfTimeInfo" nillable="true" type="tns:ArrayOfArrayOfTimeInfo" />
  <xs:complexType name="ArrayOfTimeCode">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="TimeCode" type="tns:TimeCode" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfTimeCode" nillable="true" type="tns:ArrayOfTimeCode" />
  <xs:complexType name="ArrayOfArrayOfTimeCode">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="ArrayOfTimeCode" nillable="true" type="tns:ArrayOfTimeCode" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfArrayOfTimeCode" nillable="true" type="tns:ArrayOfArrayOfTimeCode" />
  <xs:complexType name="ArrayOfSubCode">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="SubCode" type="tns:SubCode" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfSubCode" nillable="true" type="tns:ArrayOfSubCode" />
  <xs:complexType name="ArrayOfArrayOfSubCode">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="ArrayOfSubCode" nillable="true" type="tns:ArrayOfSubCode" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfArrayOfSubCode" nillable="true" type="tns:ArrayOfArrayOfSubCode" />
  <xs:complexType name="ArrayOfTraceInfo">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="TraceInfo" nillable="true" type="tns:TraceInfo" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfTraceInfo" nillable="true" type="tns:ArrayOfTraceInfo" />
  <xs:complexType name="ArrayOfArrayOfTraceInfo">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="ArrayOfTraceInfo" nillable="true" type="tns:ArrayOfTraceInfo" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfArrayOfTraceInfo" nillable="true" type="tns:ArrayOfArrayOfTraceInfo" />
  <xs:complexType name="UserAccessAuditDetail">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:AuditDetail">
        <xs:sequence>
          <xs:element minOccurs="0" name="AccessTime" type="xs:dateTime" />
          <xs:element minOccurs="0" name="Interval" type="xs:int" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="UserAccessAuditDetail" nillable="true" type="tns:UserAccessAuditDetail" />
  <xs:complexType name="ArrayOfUserAccessAuditDetail">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="UserAccessAuditDetail" nillable="true" type="tns:UserAccessAuditDetail" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfUserAccessAuditDetail" nillable="true" type="tns:ArrayOfUserAccessAuditDetail" />
  <xs:complexType name="ArrayOfArrayOfUserAccessAuditDetail">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="ArrayOfUserAccessAuditDetail" nillable="true" type="tns:ArrayOfUserAccessAuditDetail" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfArrayOfUserAccessAuditDetail" nillable="true" type="tns:ArrayOfArrayOfUserAccessAuditDetail" />
  <xs:complexType name="ValidationResult">
    <xs:sequence>
      <xs:element minOccurs="0" name="ActivityId" type="ser:guid" />
      <xs:element minOccurs="0" name="TraceInfo" nillable="true" type="tns:TraceInfo" />
      <xs:element minOccurs="0" name="ValidationSuccess" type="xs:boolean" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ValidationResult" nillable="true" type="tns:ValidationResult" />
  <xs:complexType name="ArrayOfValidationResult">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="ValidationResult" nillable="true" type="tns:ValidationResult" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfValidationResult" nillable="true" type="tns:ArrayOfValidationResult" />
  <xs:complexType name="ArrayOfArrayOfValidationResult">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="ArrayOfValidationResult" nillable="true" type="tns:ArrayOfValidationResult" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfArrayOfValidationResult" nillable="true" type="tns:ArrayOfArrayOfValidationResult" />
</xs:schema>