CrmConsoleClient/Web References/CovenantService/CovenantService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="CovenantService" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://dynamicscrmproxy.apphb.com/Services/CovenantService.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://dynamicscrmproxy.apphb.com/Services/CovenantService.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://dynamicscrmproxy.apphb.com/Services/CovenantService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/CRMProxyService.Entity" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="ICovenantService_GetAllSOVCovenant_InputMessage">
    <wsdl:part name="parameters" element="tns:GetAllSOVCovenant" />
  </wsdl:message>
  <wsdl:message name="ICovenantService_GetAllSOVCovenant_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetAllSOVCovenantResponse" />
  </wsdl:message>
  <wsdl:message name="ICovenantService_GetOneSOVCovenant_InputMessage">
    <wsdl:part name="parameters" element="tns:GetOneSOVCovenant" />
  </wsdl:message>
  <wsdl:message name="ICovenantService_GetOneSOVCovenant_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetOneSOVCovenantResponse" />
  </wsdl:message>
  <wsdl:message name="ICovenantService_GetAllNSOCovenant_InputMessage">
    <wsdl:part name="parameters" element="tns:GetAllNSOCovenant" />
  </wsdl:message>
  <wsdl:message name="ICovenantService_GetAllNSOCovenant_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetAllNSOCovenantResponse" />
  </wsdl:message>
  <wsdl:message name="ICovenantService_GetOneNSOCovenant_InputMessage">
    <wsdl:part name="parameters" element="tns:GetOneNSOCovenant" />
  </wsdl:message>
  <wsdl:message name="ICovenantService_GetOneNSOCovenant_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetOneNSOCovenantResponse" />
  </wsdl:message>
  <wsdl:portType name="ICovenantService">
    <wsdl:operation name="GetAllSOVCovenant">
      <wsdl:input wsaw:Action="http://tempuri.org/ICovenantService/GetAllSOVCovenant" message="tns:ICovenantService_GetAllSOVCovenant_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ICovenantService/GetAllSOVCovenantResponse" message="tns:ICovenantService_GetAllSOVCovenant_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetOneSOVCovenant">
      <wsdl:input wsaw:Action="http://tempuri.org/ICovenantService/GetOneSOVCovenant" message="tns:ICovenantService_GetOneSOVCovenant_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ICovenantService/GetOneSOVCovenantResponse" message="tns:ICovenantService_GetOneSOVCovenant_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetAllNSOCovenant">
      <wsdl:input wsaw:Action="http://tempuri.org/ICovenantService/GetAllNSOCovenant" message="tns:ICovenantService_GetAllNSOCovenant_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ICovenantService/GetAllNSOCovenantResponse" message="tns:ICovenantService_GetAllNSOCovenant_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetOneNSOCovenant">
      <wsdl:input wsaw:Action="http://tempuri.org/ICovenantService/GetOneNSOCovenant" message="tns:ICovenantService_GetOneNSOCovenant_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ICovenantService/GetOneNSOCovenantResponse" message="tns:ICovenantService_GetOneNSOCovenant_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_ICovenantService" type="tns:ICovenantService">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetAllSOVCovenant">
      <soap:operation soapAction="http://tempuri.org/ICovenantService/GetAllSOVCovenant" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetOneSOVCovenant">
      <soap:operation soapAction="http://tempuri.org/ICovenantService/GetOneSOVCovenant" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetAllNSOCovenant">
      <soap:operation soapAction="http://tempuri.org/ICovenantService/GetAllNSOCovenant" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetOneNSOCovenant">
      <soap:operation soapAction="http://tempuri.org/ICovenantService/GetOneNSOCovenant" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="CovenantService">
    <wsdl:port name="BasicHttpBinding_ICovenantService" binding="tns:BasicHttpBinding_ICovenantService">
      <soap:address location="http://dynamicscrmproxy.apphb.com/Services/CovenantService.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>