CrmConsoleClient/Web References/CovenantService/CovenantService1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:ser="http://schemas.microsoft.com/2003/10/Serialization/" xmlns:tns="http://schemas.datacontract.org/2004/07/CRMProxyService.Entity" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/CRMProxyService.Entity" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://dynamicscrmproxy.apphb.com/Services/CovenantService.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
  <xs:complexType name="ArrayOfProxySOVCovenant">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="ProxySOVCovenant" nillable="true" type="tns:ProxySOVCovenant" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfProxySOVCovenant" nillable="true" type="tns:ArrayOfProxySOVCovenant" />
  <xs:complexType name="ProxySOVCovenant">
    <xs:sequence>
      <xs:element minOccurs="0" name="AgreementSectionNo" nillable="true" type="xs:double" />
      <xs:element minOccurs="0" name="CompliedDate" nillable="true" type="xs:dateTime" />
      <xs:element minOccurs="0" name="CovenantDescription" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="CovenantID" type="ser:guid" />
      <xs:element minOccurs="0" name="CovenantType" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="DueDate" nillable="true" type="xs:dateTime" />
      <xs:element minOccurs="0" name="EffectiveEndDate" nillable="true" type="xs:dateTime" />
      <xs:element minOccurs="0" name="EffectiveStartDate" nillable="true" type="xs:dateTime" />
      <xs:element minOccurs="0" name="ID" type="ser:guid" />
      <xs:element minOccurs="0" name="Name" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ParagraphNo" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="ParentID" type="ser:guid" />
      <xs:element minOccurs="0" name="ParentIDString" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Rating" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Remarks" nillable="true" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ProxySOVCovenant" nillable="true" type="tns:ProxySOVCovenant" />
  <xs:complexType name="ArrayOfProxyNSOCovenant">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="ProxyNSOCovenant" nillable="true" type="tns:ProxyNSOCovenant" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfProxyNSOCovenant" nillable="true" type="tns:ArrayOfProxyNSOCovenant" />
  <xs:complexType name="ProxyNSOCovenant">
    <xs:sequence>
      <xs:element minOccurs="0" name="CompliedWith" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="CovenantDescription" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="CovenantID" type="ser:guid" />
      <xs:element minOccurs="0" name="CovenantType" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="DueDate" nillable="true" type="xs:dateTime" />
      <xs:element minOccurs="0" name="FrequencyOfReview" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ID" type="ser:guid" />
      <xs:element minOccurs="0" name="Name" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ParentID" type="ser:guid" />
      <xs:element minOccurs="0" name="ParentIDString" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Reference" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="RemarksIssues" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Status" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="SubmissionDate" nillable="true" type="xs:dateTime" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ProxyNSOCovenant" nillable="true" type="tns:ProxyNSOCovenant" />
</xs:schema>