CrmConsoleClient/Web References/CovenantService/CovenantService13.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://dynamicscrmproxy.apphb.com/Services/CovenantService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/CRMProxyService.Entity" />
  <xs:import schemaLocation="http://dynamicscrmproxy.apphb.com/Services/CovenantService.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
  <xs:element name="GetAllSOVCovenant">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAllSOVCovenantResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/CRMProxyService.Entity" minOccurs="0" name="GetAllSOVCovenantResult" nillable="true" type="q1:ArrayOfProxySOVCovenant" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetOneSOVCovenant">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.microsoft.com/2003/10/Serialization/" minOccurs="0" name="id" type="q2:guid" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetOneSOVCovenantResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/CRMProxyService.Entity" minOccurs="0" name="GetOneSOVCovenantResult" nillable="true" type="q3:ProxySOVCovenant" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateSOVCovenant">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/CRMProxyService.Entity" minOccurs="0" name="covenant" nillable="true" type="q4:ProxySOVCovenant" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateSOVCovenantResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAllNSOCovenant">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAllNSOCovenantResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q5="http://schemas.datacontract.org/2004/07/CRMProxyService.Entity" minOccurs="0" name="GetAllNSOCovenantResult" nillable="true" type="q5:ArrayOfProxyNSOCovenant" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetOneNSOCovenant">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q6="http://schemas.microsoft.com/2003/10/Serialization/" minOccurs="0" name="id" type="q6:guid" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetOneNSOCovenantResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q7="http://schemas.datacontract.org/2004/07/CRMProxyService.Entity" minOccurs="0" name="GetOneNSOCovenantResult" nillable="true" type="q7:ProxyNSOCovenant" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateNSOCovenant">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q8="http://schemas.datacontract.org/2004/07/CRMProxyService.Entity" minOccurs="0" name="covenant" nillable="true" type="q8:ProxyNSOCovenant" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateNSOCovenantResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
</xs:schema>