CrmConsoleClient/Web References/NSOCovenantService/NSOCovenantService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="NSOCovenantService" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://adbcrm.apphb.com/NSOCovenantService.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://adbcrm.apphb.com/NSOCovenantService.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://adbcrm.apphb.com/NSOCovenantService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/WebAppWalkthrough" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="INSOCovenantService_GetAllNSOCovenant_InputMessage">
    <wsdl:part name="parameters" element="tns:GetAllNSOCovenant" />
  </wsdl:message>
  <wsdl:message name="INSOCovenantService_GetAllNSOCovenant_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetAllNSOCovenantResponse" />
  </wsdl:message>
  <wsdl:message name="INSOCovenantService_GetOneNSOCovenant_InputMessage">
    <wsdl:part name="parameters" element="tns:GetOneNSOCovenant" />
  </wsdl:message>
  <wsdl:message name="INSOCovenantService_GetOneNSOCovenant_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetOneNSOCovenantResponse" />
  </wsdl:message>
  <wsdl:portType name="INSOCovenantService">
    <wsdl:operation name="GetAllNSOCovenant">
      <wsdl:input wsaw:Action="http://tempuri.org/INSOCovenantService/GetAllNSOCovenant" message="tns:INSOCovenantService_GetAllNSOCovenant_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/INSOCovenantService/GetAllNSOCovenantResponse" message="tns:INSOCovenantService_GetAllNSOCovenant_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetOneNSOCovenant">
      <wsdl:input wsaw:Action="http://tempuri.org/INSOCovenantService/GetOneNSOCovenant" message="tns:INSOCovenantService_GetOneNSOCovenant_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/INSOCovenantService/GetOneNSOCovenantResponse" message="tns:INSOCovenantService_GetOneNSOCovenant_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_INSOCovenantService" type="tns:INSOCovenantService">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetAllNSOCovenant">
      <soap:operation soapAction="http://tempuri.org/INSOCovenantService/GetAllNSOCovenant" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetOneNSOCovenant">
      <soap:operation soapAction="http://tempuri.org/INSOCovenantService/GetOneNSOCovenant" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="NSOCovenantService">
    <wsdl:port name="BasicHttpBinding_INSOCovenantService" binding="tns:BasicHttpBinding_INSOCovenantService">
      <soap:address location="http://adbcrm.apphb.com/NSOCovenantService.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>