CrmConsoleClient/Web References/NSOCovenantService/NSOCovenantService.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://adbcrm.apphb.com/NSOCovenantService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/WebAppWalkthrough" />
  <xs:import schemaLocation="http://adbcrm.apphb.com/NSOCovenantService.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
  <xs:element name="GetAllNSOCovenant">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAllNSOCovenantResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/WebAppWalkthrough" minOccurs="0" name="GetAllNSOCovenantResult" nillable="true" type="q1:ArrayOfCustomNSOCovenant" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetOneNSOCovenant">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.microsoft.com/2003/10/Serialization/" minOccurs="0" name="id" type="q2:guid" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetOneNSOCovenantResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/WebAppWalkthrough" minOccurs="0" name="GetOneNSOCovenantResult" nillable="true" type="q3:CustomNSOCovenant" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>