CrmConsoleClient/Web References/BPService/BaselineProjectionService1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://adbcrm.apphb.com/BaselineProjectionService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/WebAppWalkthrough" />
  <xs:import schemaLocation="http://adbcrm.apphb.com/BaselineProjectionService.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
  <xs:element name="GetAllBaselineProjection">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAllBaselineProjectionResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/WebAppWalkthrough" minOccurs="0" name="GetAllBaselineProjectionResult" nillable="true" type="q1:ArrayOfCustomBaselineProjection" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetOneBaselineProjection">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.microsoft.com/2003/10/Serialization/" minOccurs="0" name="id" type="q2:guid" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetOneBaselineProjectionResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/WebAppWalkthrough" minOccurs="0" name="GetOneBaselineProjectionResult" nillable="true" type="q3:CustomBaselineProjection" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteBaselineProjection">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q4="http://schemas.microsoft.com/2003/10/Serialization/" minOccurs="0" name="id" type="q4:guid" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteBaselineProjectionResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="CreateBaselineProjection">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q5="http://schemas.datacontract.org/2004/07/WebAppWalkthrough" minOccurs="0" name="bp" nillable="true" type="q5:CustomBaselineProjection" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CreateBaselineProjectionResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateBaselineProjection">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q6="http://schemas.datacontract.org/2004/07/WebAppWalkthrough" minOccurs="0" name="bp" nillable="true" type="q6:CustomBaselineProjection" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateBaselineProjectionResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
</xs:schema>