CrmConsoleClient/Web References/BPService/BaselineProjectionService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="BaselineProjectionService" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://adbcrm.apphb.com/BaselineProjectionService.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://adbcrm.apphb.com/BaselineProjectionService.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://adbcrm.apphb.com/BaselineProjectionService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/WebAppWalkthrough" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IBaselineProjectionService_GetAllBaselineProjection_InputMessage">
    <wsdl:part name="parameters" element="tns:GetAllBaselineProjection" />
  </wsdl:message>
  <wsdl:message name="IBaselineProjectionService_GetAllBaselineProjection_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetAllBaselineProjectionResponse" />
  </wsdl:message>
  <wsdl:message name="IBaselineProjectionService_GetOneBaselineProjection_InputMessage">
    <wsdl:part name="parameters" element="tns:GetOneBaselineProjection" />
  </wsdl:message>
  <wsdl:message name="IBaselineProjectionService_GetOneBaselineProjection_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetOneBaselineProjectionResponse" />
  </wsdl:message>
  <wsdl:message name="IBaselineProjectionService_DeleteBaselineProjection_InputMessage">
    <wsdl:part name="parameters" element="tns:DeleteBaselineProjection" />
  </wsdl:message>
  <wsdl:message name="IBaselineProjectionService_DeleteBaselineProjection_OutputMessage">
    <wsdl:part name="parameters" element="tns:DeleteBaselineProjectionResponse" />
  </wsdl:message>
  <wsdl:message name="IBaselineProjectionService_CreateBaselineProjection_InputMessage">
    <wsdl:part name="parameters" element="tns:CreateBaselineProjection" />
  </wsdl:message>
  <wsdl:message name="IBaselineProjectionService_CreateBaselineProjection_OutputMessage">
    <wsdl:part name="parameters" element="tns:CreateBaselineProjectionResponse" />
  </wsdl:message>
  <wsdl:message name="IBaselineProjectionService_UpdateBaselineProjection_InputMessage">
    <wsdl:part name="parameters" element="tns:UpdateBaselineProjection" />
  </wsdl:message>
  <wsdl:message name="IBaselineProjectionService_UpdateBaselineProjection_OutputMessage">
    <wsdl:part name="parameters" element="tns:UpdateBaselineProjectionResponse" />
  </wsdl:message>
  <wsdl:portType name="IBaselineProjectionService">
    <wsdl:operation name="GetAllBaselineProjection">
      <wsdl:input wsaw:Action="http://tempuri.org/IBaselineProjectionService/GetAllBaselineProjection" message="tns:IBaselineProjectionService_GetAllBaselineProjection_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IBaselineProjectionService/GetAllBaselineProjectionResponse" message="tns:IBaselineProjectionService_GetAllBaselineProjection_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetOneBaselineProjection">
      <wsdl:input wsaw:Action="http://tempuri.org/IBaselineProjectionService/GetOneBaselineProjection" message="tns:IBaselineProjectionService_GetOneBaselineProjection_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IBaselineProjectionService/GetOneBaselineProjectionResponse" message="tns:IBaselineProjectionService_GetOneBaselineProjection_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="DeleteBaselineProjection">
      <wsdl:input wsaw:Action="http://tempuri.org/IBaselineProjectionService/DeleteBaselineProjection" message="tns:IBaselineProjectionService_DeleteBaselineProjection_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IBaselineProjectionService/DeleteBaselineProjectionResponse" message="tns:IBaselineProjectionService_DeleteBaselineProjection_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="CreateBaselineProjection">
      <wsdl:input wsaw:Action="http://tempuri.org/IBaselineProjectionService/CreateBaselineProjection" message="tns:IBaselineProjectionService_CreateBaselineProjection_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IBaselineProjectionService/CreateBaselineProjectionResponse" message="tns:IBaselineProjectionService_CreateBaselineProjection_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="UpdateBaselineProjection">
      <wsdl:input wsaw:Action="http://tempuri.org/IBaselineProjectionService/UpdateBaselineProjection" message="tns:IBaselineProjectionService_UpdateBaselineProjection_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IBaselineProjectionService/UpdateBaselineProjectionResponse" message="tns:IBaselineProjectionService_UpdateBaselineProjection_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IBaselineProjectionService" type="tns:IBaselineProjectionService">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetAllBaselineProjection">
      <soap:operation soapAction="http://tempuri.org/IBaselineProjectionService/GetAllBaselineProjection" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetOneBaselineProjection">
      <soap:operation soapAction="http://tempuri.org/IBaselineProjectionService/GetOneBaselineProjection" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DeleteBaselineProjection">
      <soap:operation soapAction="http://tempuri.org/IBaselineProjectionService/DeleteBaselineProjection" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CreateBaselineProjection">
      <soap:operation soapAction="http://tempuri.org/IBaselineProjectionService/CreateBaselineProjection" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UpdateBaselineProjection">
      <soap:operation soapAction="http://tempuri.org/IBaselineProjectionService/UpdateBaselineProjection" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="BaselineProjectionService">
    <wsdl:port name="BasicHttpBinding_IBaselineProjectionService" binding="tns:BasicHttpBinding_IBaselineProjectionService">
      <soap:address location="http://adbcrm.apphb.com/BaselineProjectionService.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>