CrmConsoleClient/Web References/OpportunityService/OpportunityService9.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:ser="http://schemas.microsoft.com/2003/10/Serialization/" xmlns:tns="http://schemas.datacontract.org/2004/07/CRMProxyService.Entity" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/CRMProxyService.Entity" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://dynamicscrmproxy.apphb.com/Services/OpportunityService.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
  <xs:import schemaLocation="http://dynamicscrmproxy.apphb.com/Services/OpportunityService.svc?xsd=xsd3" namespace="http://schemas.datacontract.org/2004/07/Xrm" />
  <xs:complexType name="ArrayOfProxyOpportunity">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="ProxyOpportunity" nillable="true" type="tns:ProxyOpportunity" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfProxyOpportunity" nillable="true" type="tns:ArrayOfProxyOpportunity" />
  <xs:complexType name="ProxyOpportunity">
    <xs:sequence>
      <xs:element minOccurs="0" name="ADBFinancing" type="xs:decimal" />
      <xs:element minOccurs="0" name="AdditionalFinancing" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ApprovalLevel" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Borrower" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="BudgetAmount" type="xs:decimal" />
      <xs:element minOccurs="0" name="CategoryType" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ClosingDate" type="xs:dateTime" />
      <xs:element minOccurs="0" name="Country" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Currency" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Department" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Description" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Division" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="DivisionRole" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ExpectedApprovalYear" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Guarantee" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Id" type="ser:guid" />
      <xs:element minOccurs="0" name="ModeOfFinancialAssistance" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Name" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="OpportunityId" type="ser:guid" />
      <xs:element minOccurs="0" name="ProcessingCategory" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ProjectDescription" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ProjectRationale" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ProjectStage" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ProjectStatus" nillable="true" type="xs:string" />
      <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/Xrm" minOccurs="0" name="RealOpportunity" nillable="true" type="q1:Opportunity" />
      <xs:element minOccurs="0" name="Region" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Sector" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="SubSector" nillable="true" type="xs:string" />
      <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/Xrm" minOccurs="0" name="c1" nillable="true" type="q2:ArrayOfConnection" />
      <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/Xrm" minOccurs="0" name="c2" nillable="true" type="q3:ArrayOfConnection" />
      <xs:element minOccurs="0" name="processingScenario" nillable="true" type="xs:string" />
      <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/Xrm" minOccurs="0" name="teams" nillable="true" type="q4:ArrayOfTeam" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ProxyOpportunity" nillable="true" type="tns:ProxyOpportunity" />
</xs:schema>