CrmConsoleClient/Web References/OpportunityService/OpportunityService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="OpportunityService" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://dynamicscrmproxy.apphb.com/Services/OpportunityService.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://dynamicscrmproxy.apphb.com/Services/OpportunityService.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://dynamicscrmproxy.apphb.com/Services/OpportunityService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/CRMProxyService.Entity" />
      <xsd:import schemaLocation="http://dynamicscrmproxy.apphb.com/Services/OpportunityService.svc?xsd=xsd3" namespace="http://schemas.datacontract.org/2004/07/Xrm" />
      <xsd:import schemaLocation="http://dynamicscrmproxy.apphb.com/Services/OpportunityService.svc?xsd=xsd4" namespace="http://schemas.microsoft.com/xrm/2011/Contracts" />
      <xsd:import schemaLocation="http://dynamicscrmproxy.apphb.com/Services/OpportunityService.svc?xsd=xsd5" namespace="http://schemas.datacontract.org/2004/07/System.Collections.Generic" />
      <xsd:import schemaLocation="http://dynamicscrmproxy.apphb.com/Services/OpportunityService.svc?xsd=xsd6" namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
      <xsd:import schemaLocation="http://dynamicscrmproxy.apphb.com/Services/OpportunityService.svc?xsd=xsd7" namespace="http://schemas.microsoft.com/xrm/7.1/Contracts" />
      <xsd:import schemaLocation="http://dynamicscrmproxy.apphb.com/Services/OpportunityService.svc?xsd=xsd8" namespace="http://schemas.microsoft.com/xrm/2011/Metadata" />
      <xsd:import schemaLocation="http://dynamicscrmproxy.apphb.com/Services/OpportunityService.svc?xsd=xsd9" namespace="http://schemas.microsoft.com/xrm/2013/Metadata" />
      <xsd:import schemaLocation="http://dynamicscrmproxy.apphb.com/Services/OpportunityService.svc?xsd=xsd10" namespace="http://schemas.microsoft.com/xrm/7.1/Metadata" />
      <xsd:import schemaLocation="http://dynamicscrmproxy.apphb.com/Services/OpportunityService.svc?xsd=xsd11" namespace="http://schemas.microsoft.com/xrm/2014/Contracts" />
      <xsd:import schemaLocation="http://dynamicscrmproxy.apphb.com/Services/OpportunityService.svc?xsd=xsd12" namespace="http://schemas.microsoft.com/xrm/2011/Metadata/Query" />
      <xsd:import schemaLocation="http://dynamicscrmproxy.apphb.com/Services/OpportunityService.svc?xsd=xsd13" namespace="http://schemas.microsoft.com/xrm/2012/Contracts" />
      <xsd:import schemaLocation="http://dynamicscrmproxy.apphb.com/Services/OpportunityService.svc?xsd=xsd14" namespace="http://schemas.datacontract.org/2004/07/Microsoft.Xrm.Sdk" />
      <xsd:import schemaLocation="http://dynamicscrmproxy.apphb.com/Services/OpportunityService.svc?xsd=xsd15" namespace="http://schemas.microsoft.com/crm/2011/Contracts" />
      <xsd:import schemaLocation="http://dynamicscrmproxy.apphb.com/Services/OpportunityService.svc?xsd=xsd16" namespace="http://schemas.datacontract.org/2004/07/Microsoft.Crm.Sdk.Messages" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IOpportunityService_GetAllOpportunity_InputMessage">
    <wsdl:part name="parameters" element="tns:GetAllOpportunity" />
  </wsdl:message>
  <wsdl:message name="IOpportunityService_GetAllOpportunity_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetAllOpportunityResponse" />
  </wsdl:message>
  <wsdl:message name="IOpportunityService_GetOneOpportunity_InputMessage">
    <wsdl:part name="parameters" element="tns:GetOneOpportunity" />
  </wsdl:message>
  <wsdl:message name="IOpportunityService_GetOneOpportunity_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetOneOpportunityResponse" />
  </wsdl:message>
  <wsdl:message name="IOpportunityService_UpdateOpportunity_InputMessage">
    <wsdl:part name="parameters" element="tns:UpdateOpportunity" />
  </wsdl:message>
  <wsdl:message name="IOpportunityService_UpdateOpportunity_OutputMessage">
    <wsdl:part name="parameters" element="tns:UpdateOpportunityResponse" />
  </wsdl:message>
  <wsdl:portType name="IOpportunityService">
    <wsdl:operation name="GetAllOpportunity">
      <wsdl:input wsaw:Action="http://tempuri.org/IOpportunityService/GetAllOpportunity" message="tns:IOpportunityService_GetAllOpportunity_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IOpportunityService/GetAllOpportunityResponse" message="tns:IOpportunityService_GetAllOpportunity_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetOneOpportunity">
      <wsdl:input wsaw:Action="http://tempuri.org/IOpportunityService/GetOneOpportunity" message="tns:IOpportunityService_GetOneOpportunity_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IOpportunityService/GetOneOpportunityResponse" message="tns:IOpportunityService_GetOneOpportunity_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="UpdateOpportunity">
      <wsdl:input wsaw:Action="http://tempuri.org/IOpportunityService/UpdateOpportunity" message="tns:IOpportunityService_UpdateOpportunity_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IOpportunityService/UpdateOpportunityResponse" message="tns:IOpportunityService_UpdateOpportunity_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IOpportunityService" type="tns:IOpportunityService">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetAllOpportunity">
      <soap:operation soapAction="http://tempuri.org/IOpportunityService/GetAllOpportunity" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetOneOpportunity">
      <soap:operation soapAction="http://tempuri.org/IOpportunityService/GetOneOpportunity" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UpdateOpportunity">
      <soap:operation soapAction="http://tempuri.org/IOpportunityService/UpdateOpportunity" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="OpportunityService">
    <wsdl:port name="BasicHttpBinding_IOpportunityService" binding="tns:BasicHttpBinding_IOpportunityService">
      <soap:address location="http://dynamicscrmproxy.apphb.com/Services/OpportunityService.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>