CrmConsoleClient/Web References/OpportunityService/OpportunityService.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:ser="http://schemas.microsoft.com/2003/10/Serialization/" xmlns:tns="http://schemas.datacontract.org/2004/07/CRMProxyService.Entity" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/CRMProxyService.Entity" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://dynamicscrmproxy.apphb.com/Services/OpportunityService.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
  <xs:complexType name="ArrayOfProxyOpportunity">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="ProxyOpportunity" nillable="true" type="tns:ProxyOpportunity" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfProxyOpportunity" nillable="true" type="tns:ArrayOfProxyOpportunity" />
  <xs:complexType name="ProxyOpportunity">
    <xs:sequence>
      <xs:element minOccurs="0" name="Description" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Id" type="ser:guid" />
      <xs:element minOccurs="0" name="NSOCovenants" nillable="true" type="tns:ArrayOfProxyNSOCovenant" />
      <xs:element minOccurs="0" name="Name" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="OpportunityId" type="ser:guid" />
      <xs:element minOccurs="0" name="ProjectDescription" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ProjectRationale" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="SOVCovenants" nillable="true" type="tns:ArrayOfProxySOVCovenant" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ProxyOpportunity" nillable="true" type="tns:ProxyOpportunity" />
  <xs:complexType name="ArrayOfProxyNSOCovenant">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="ProxyNSOCovenant" nillable="true" type="tns:ProxyNSOCovenant" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfProxyNSOCovenant" nillable="true" type="tns:ArrayOfProxyNSOCovenant" />
  <xs:complexType name="ProxyNSOCovenant">
    <xs:sequence>
      <xs:element minOccurs="0" name="CovenantDescription" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="CovenantID" type="ser:guid" />
      <xs:element minOccurs="0" name="Name" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ParentID" type="ser:guid" />
      <xs:element minOccurs="0" name="ParentIDString" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ProxyNSOCovenant" nillable="true" type="tns:ProxyNSOCovenant" />
  <xs:complexType name="ArrayOfProxySOVCovenant">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="ProxySOVCovenant" nillable="true" type="tns:ProxySOVCovenant" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfProxySOVCovenant" nillable="true" type="tns:ArrayOfProxySOVCovenant" />
  <xs:complexType name="ProxySOVCovenant">
    <xs:sequence>
      <xs:element minOccurs="0" name="CovenantDescription" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="CovenantID" type="ser:guid" />
      <xs:element minOccurs="0" name="Name" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ParentID" type="ser:guid" />
      <xs:element minOccurs="0" name="ParentIDString" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ProxySOVCovenant" nillable="true" type="tns:ProxySOVCovenant" />
</xs:schema>