CrmConsoleClient/Web References/ProjectTeamService/ConnectionService0.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://dynamicscrmproxy.apphb.com/Services/ConnectionService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/CRMProxyService.Entity" />
  <xs:import schemaLocation="http://dynamicscrmproxy.apphb.com/Services/ConnectionService.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
  <xs:element name="GetAllConnection">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAllConnectionResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/CRMProxyService.Entity" minOccurs="0" name="GetAllConnectionResult" nillable="true" type="q1:ArrayOfProxyConnection" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetOneConnection">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.microsoft.com/2003/10/Serialization/" minOccurs="0" name="id" type="q2:guid" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetOneConnectionResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/CRMProxyService.Entity" minOccurs="0" name="GetOneConnectionResult" nillable="true" type="q3:ProxyConnection" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateOneConnection">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/CRMProxyService.Entity" minOccurs="0" name="c" nillable="true" type="q4:ProxyConnection" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateOneConnectionResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
</xs:schema>