CrmConsoleClient/Web References/ProjectTeamService/ConnectionService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="ConnectionService" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://dynamicscrmproxy.apphb.com/Services/ConnectionService.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://dynamicscrmproxy.apphb.com/Services/ConnectionService.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://dynamicscrmproxy.apphb.com/Services/ConnectionService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/CRMProxyService.Entity" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IConnectionService_GetAllConnection_InputMessage">
    <wsdl:part name="parameters" element="tns:GetAllConnection" />
  </wsdl:message>
  <wsdl:message name="IConnectionService_GetAllConnection_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetAllConnectionResponse" />
  </wsdl:message>
  <wsdl:message name="IConnectionService_GetOneConnection_InputMessage">
    <wsdl:part name="parameters" element="tns:GetOneConnection" />
  </wsdl:message>
  <wsdl:message name="IConnectionService_GetOneConnection_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetOneConnectionResponse" />
  </wsdl:message>
  <wsdl:message name="IConnectionService_UpdateOneConnection_InputMessage">
    <wsdl:part name="parameters" element="tns:UpdateOneConnection" />
  </wsdl:message>
  <wsdl:message name="IConnectionService_UpdateOneConnection_OutputMessage">
    <wsdl:part name="parameters" element="tns:UpdateOneConnectionResponse" />
  </wsdl:message>
  <wsdl:portType name="IConnectionService">
    <wsdl:operation name="GetAllConnection">
      <wsdl:input wsaw:Action="http://tempuri.org/IConnectionService/GetAllConnection" message="tns:IConnectionService_GetAllConnection_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IConnectionService/GetAllConnectionResponse" message="tns:IConnectionService_GetAllConnection_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetOneConnection">
      <wsdl:input wsaw:Action="http://tempuri.org/IConnectionService/GetOneConnection" message="tns:IConnectionService_GetOneConnection_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IConnectionService/GetOneConnectionResponse" message="tns:IConnectionService_GetOneConnection_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="UpdateOneConnection">
      <wsdl:input wsaw:Action="http://tempuri.org/IConnectionService/UpdateOneConnection" message="tns:IConnectionService_UpdateOneConnection_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IConnectionService/UpdateOneConnectionResponse" message="tns:IConnectionService_UpdateOneConnection_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IConnectionService" type="tns:IConnectionService">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetAllConnection">
      <soap:operation soapAction="http://tempuri.org/IConnectionService/GetAllConnection" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetOneConnection">
      <soap:operation soapAction="http://tempuri.org/IConnectionService/GetOneConnection" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UpdateOneConnection">
      <soap:operation soapAction="http://tempuri.org/IConnectionService/UpdateOneConnection" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="ConnectionService">
    <wsdl:port name="BasicHttpBinding_IConnectionService" binding="tns:BasicHttpBinding_IConnectionService">
      <soap:address location="http://dynamicscrmproxy.apphb.com/Services/ConnectionService.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>