CrmConsoleClient/Web References/TradeFinanceService/TradeFinanceService1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/CRMProxyService.Entity" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/CRMProxyService.Entity" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="ProxyCreditGuaranteeRequest">
    <xs:sequence>
      <xs:element minOccurs="0" name="ADBAmountCovered" nillable="true" type="xs:double" />
      <xs:element minOccurs="0" name="ApplicantName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="BeneficiaryName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ConfirmingBankName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Goods" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="IssuingBankName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="RequestNo" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Tenor" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="TotalTransactionValue" nillable="true" type="xs:double" />
      <xs:element minOccurs="0" name="TypeOfTradeTransaction" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="TypeOfTradeTransactionID" nillable="true" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ProxyCreditGuaranteeRequest" nillable="true" type="tns:ProxyCreditGuaranteeRequest" />
  <xs:complexType name="ArrayOfProxyCreditGuaranteeRequest">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="ProxyCreditGuaranteeRequest" nillable="true" type="tns:ProxyCreditGuaranteeRequest" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfProxyCreditGuaranteeRequest" nillable="true" type="tns:ArrayOfProxyCreditGuaranteeRequest" />
</xs:schema>