CrmConsoleClient/Web References/TradeFinanceService/TradeFinanceService0.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://dynamicscrmproxy.apphb.com/Services/TradeFinanceService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/CRMProxyService.Entity" />
  <xs:import schemaLocation="http://dynamicscrmproxy.apphb.com/Services/TradeFinanceService.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
  <xs:element name="AddTradeFinance">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/CRMProxyService.Entity" minOccurs="0" name="entity" nillable="true" type="q1:ProxyCreditGuaranteeInquiry" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddTradeFinanceResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAllTradeFinanace">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAllTradeFinanaceResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/CRMProxyService.Entity" minOccurs="0" name="GetAllTradeFinanaceResult" nillable="true" type="q2:ArrayOfProxyCreditGuaranteeInquiry" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetOneTradeFinance">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.microsoft.com/2003/10/Serialization/" minOccurs="0" name="id" type="q3:guid" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetOneTradeFinanceResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/CRMProxyService.Entity" minOccurs="0" name="GetOneTradeFinanceResult" nillable="true" type="q4:ProxyCreditGuaranteeInquiry" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateTradeFinance">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q5="http://schemas.datacontract.org/2004/07/CRMProxyService.Entity" minOccurs="0" name="entity" nillable="true" type="q5:ProxyCreditGuaranteeInquiry" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateTradeFinanceResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
</xs:schema>