CrmConsoleClient/Web References/TradeFinanceService/TradeFinanceService1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:ser="http://schemas.microsoft.com/2003/10/Serialization/" xmlns:tns="http://schemas.datacontract.org/2004/07/CRMProxyService.Entity" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/CRMProxyService.Entity" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://dynamicscrmproxy.apphb.com/Services/TradeFinanceService.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
  <xs:complexType name="ProxyCreditGuaranteeInquiry">
    <xs:sequence>
      <xs:element minOccurs="0" name="ADBAmountCovered" nillable="true" type="xs:double" />
      <xs:element minOccurs="0" name="ApplicantName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="BeneficiaryName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ClientEmail" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ClientName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ConfirmingBankName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ConfirmingBankNameID" nillable="true" type="ser:guid" />
      <xs:element minOccurs="0" name="ConfirmingBankNameIDString" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Goods" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ID" type="ser:guid" />
      <xs:element minOccurs="0" name="InquiryReferenceNo" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="IssuingBankName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="IssuingBankNameID" nillable="true" type="ser:guid" />
      <xs:element minOccurs="0" name="IssuingBankNameIDString" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Tenor" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="TotalTransactionValue" nillable="true" type="xs:double" />
      <xs:element minOccurs="0" name="TypeOfTradeTransaction" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="TypeOfTradeTransactionID" nillable="true" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ProxyCreditGuaranteeInquiry" nillable="true" type="tns:ProxyCreditGuaranteeInquiry" />
  <xs:complexType name="ArrayOfProxyCreditGuaranteeInquiry">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="ProxyCreditGuaranteeInquiry" nillable="true" type="tns:ProxyCreditGuaranteeInquiry" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfProxyCreditGuaranteeInquiry" nillable="true" type="tns:ArrayOfProxyCreditGuaranteeInquiry" />
</xs:schema>