CrmConsoleClient/Web References/AccountService/AccountService0.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:ser="http://schemas.microsoft.com/2003/10/Serialization/" xmlns:tns="http://schemas.datacontract.org/2004/07/CRMProxyService.Entity" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/CRMProxyService.Entity" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://dynamicscrmproxy.apphb.com/Services/AccountService.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
  <xs:complexType name="ArrayOfProxyAccount">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="ProxyAccount" nillable="true" type="tns:ProxyAccount" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfProxyAccount" nillable="true" type="tns:ArrayOfProxyAccount" />
  <xs:complexType name="ProxyAccount">
    <xs:sequence>
      <xs:element minOccurs="0" name="AccountName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Address" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Country" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="EntityRole" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Fax" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ID" type="ser:guid" />
      <xs:element minOccurs="0" name="IDstring" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ParentID" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Phone" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Website" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ProxyAccount" nillable="true" type="tns:ProxyAccount" />
</xs:schema>